/*search box*/
.search-form .search_bx2{
    position:absolute;
    width:700px;
    height:250px;
    /*border:1px solid #fff;*/
    /*top:515px;*/
    top:390px;
    /*background:rgb(184,184,184,.3);*/
    border-radius:10px;
    overflow:auto;
    /*visibility: hidden;
    opacity:0;
    transition: .3s linear;*/  
  }
  .search-form .search_bx2 .card{
    background-color: rgb(184,184,184,.3);
    margin-bottom:2px;
  }
  
  .search-form .search_bx2::-webkit-scrollbar {
   width:7px;
   background-color: rgb(184,184,184,.3);
   border-radius:20px;
   /*display:none;*/
  }
   .search-form .search_bx2::-webkit-scrollbar-thumb { 
    /*width:7px;*/
    background-color: rgb(184,184,184,.7);
    border-radius:20px;
   }
  .search-form .search_bx2 a{
    text-decoration:none;
    color:#fff;
    width:100%;
    height:50px;
    padding-bottom:2px;
    /*border:1px solid #fff;*/
    display:flex;
    /* display:none; */
    align-items:center;
    transition: .3s linear;
    border-radius:5px;
    /*opacity:0;*/
    /*pointer-events: none; */
  }
  .search-form .search_bx2 a:hover{
    background-color:rgb(184,184,184,.6);
  }
  .search-form .search_bx2 a img{
    width:45px;
    height:45px;
    border-radius:5px;
    margin:0px 5px;
  }
  .search-form .search_bx2 a .content2{
    color:#fff;
  }
  .search-form .search_bx2 a .content2 h3{
    font-size:13px;
  }
  .search-form .search_bx2 a .content2 p{
    color:rgb(255,255,255,.7);
    font-size:11px;
    font-weight:500;
  }
  /*search box end*/